[Unit]
Description=GPU temperature for fancontrol
StartLimitInterval=200
StartLimitBurst=5
Before=fancontrol.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/bash -c "/usr/bin/gputemp-lmsensors.sh"
ExecStop=/usr/bin/bash -c "/usr/bin/gputemp-lmsensors.sh stop"
KillMode=process
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=fancontrol.service
